@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap');

#clothing-heading{
    margin-left: 70px;
    color: rgb(27, 25, 25);
}

#Accessories-heading{
    margin-left: 70px;
    color: rgb(27, 25, 25);
}

*{
    font-family: 'Montserrat', sans-serif;
}

.product-grid{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    padding: 0 4%;
}

.product-price{
    margin: 0px;
    margin-top: 10px;
    text-align: left;
    font-size: 15px;
    letter-spacing: 2px;
    color: #009688;
}

.product-name{
    margin: 0px;
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.5px;
    color: rgb(27, 25, 25);
}

.product-brand{
    margin: 0px;
    margin-top: 10px;
    text-align: left;
    font-size: 12px;
    color: rgb(110, 110, 110);
}

.details{
    padding-left: 10px;
    margin: 10px auto;
}

.image{
    width : 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.card{
    width: calc(20% - 20px);
    margin: 30px 10px;
    background-color: #fff;
    box-shadow: 0 2px 10px rgb(0 0 0 / 30%);
    border-radius: 5px;
}

@media (max-width : 600px){
    .card{
    width: calc(50% - 20px);
    }
}

@media (min-width : 601px){
    .card{
    width: calc(33.33% - 20px);
    }
}

@media (min-width : 901px){
    .card{
    width: calc(25% - 20px);
    }
}

@media (min-width : 1050px){
    .card{
    width: calc(20% - 20px);
    }
}