td,th{
    border: 1px solid black;
    padding: 10px;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    background-color: lightblue;
    width: 500px;
    height: 300px;
    margin-left: 200px;
    margin-top: 100px;
    border-radius: 4px;
    font-size: 18px;
}